src/test/resources/rule.xml

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://www.ascc.net/xml/schematron"
	icon="http://www.ascc.net/xml/resource/schematron/bilby.jpg">
	<sch:pattern xmlns:sch="http://purl.oclc.org/dsdl/schematron"
		id="completed" name="Construction Checks">
		<sch:rule context="/house">
			<sch:assert test="count(wall) &lt; 4 ">A house should have 1-4 walls</sch:assert>
			<sch:assert test="builder">An incomplete house must have a builder
				assigned to it</sch:assert>
			<sch:assert test="not(owner)">An incomplete house cannot have an owner</sch:assert>
			<sch:report test="not(roof)">The house is incomplete, it still needs a
				roof</sch:report>
		</sch:rule>
		<sch:p>Constraints which are applied during construction</sch:p>
	</sch:pattern>
	<sch:pattern id="admin2" name="Final Checks">
		<sch:rule context="/house">
			<sch:assert test="count(wall) = 4">A house should have 4 walls</sch:assert>
			<sch:assert test="owner">An incomplete house must have an owner</sch:assert>
			<sch:assert test="not(builder)">An incomplete house doesn't need a
				builder</sch:assert>
			<sch:report test="roof">The house is incomplete, it still needs a
				roof</sch:report>
		</sch:rule>
		<sch:p>Constraints which are applied after construction</sch:p>
	</sch:pattern>
	<sch:p>
		This is an example schema for the
		<emph>Building Projects XML</emph>
		language.
	</sch:p>
	<sch:phase id="underConstruction">
		<sch:active pattern="construction" />
		<sch:active pattern="admin" />
	</sch:phase>
	<sch:phase id="built">
		<sch:active pattern="completed" />
		<sch:active pattern="admin" />
	</sch:phase>
</sch:schema>
